// $primary: 
@import "variables";
@import 'fonts';
@import 'bs';
@import 'nav';
@import 'hero';


@import 'about-me';

body,html {
  min-height: 100vh;
  cursor:url(../img/magic-cursor.png), auto !important;

}
.card {
  cursor:url(../img/magic-cursor.png), auto !important;
}


@import 'work';
@import 'footer';

.example {
  display: none;
}

@import 'circle';
@import 'image-viewer';

.text-outline {
text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}